<h2>Edit this task</h2>

<div class="container">
<%= form_for @task do |f| %>
  <div>
    <%= f.label :name, "Enter the title for your task" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :details, "What is this task about?" %>
    <%= f.text_field :details %>
  </div>

  <%= f.submit %>
<% end %>
</div>
